* {
  font-family: sans-serif;
}

/* green scheme */
.react-calendar-heatmap .color-green-1 { fill: #d6e685; }
.react-calendar-heatmap .color-green-2 { fill: #99d18f; }
.react-calendar-heatmap .color-green-3 { fill: #7bc86c; }
.react-calendar-heatmap .color-green-4 { fill: #61bd4f; }
.react-calendar-heatmap .color-green-5 { fill: #5aac44; }
.react-calendar-heatmap .color-green-6 { fill: #49852e; }
.react-calendar-heatmap .color-green-7 { fill: #3f6f21; }

/* red scheme */
.react-calendar-heatmap .color-red-1 { fill: #f5d3ce; }
.react-calendar-heatmap .color-red-2 { fill: #ec9488; }
.react-calendar-heatmap .color-red-3 { fill: #ef7564; }
.react-calendar-heatmap .color-red-4 { fill: #eb5a46; }
.react-calendar-heatmap .color-red-5 { fill: #cf513d; }
.react-calendar-heatmap .color-red-6 { fill: #b04632; }
.react-calendar-heatmap .color-red-7 { fill: #933b27; }
